Source: hamonikr-meta
Section: admin
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-desktop-environment
Architecture: all
Conflicts:
Replaces:
Depends: hamonikr-desktop-base,
         hamonikr-checksum,
         hamonikr-conky,
         hamonikr-ff,
         hamonikr-nemo-rabbitvcs,
         hamonikr-printer-drivers
Recommends: asbru-cm,
            boot-select,            
            convert-svg,
            fonts-inconsolata,
            gprename,
            git,    
            hamonikr-games,            
            hardinfo,            
            live-usb-creator,
            mainline,            
            nemo-compare,
            nemo-compare,
            nemo-emblems,
            nemo-filename-repairer,
            nemo-image-converter,
            nemo-share,     
            nemo-share,
            neofetch,
            stacer,
            spacefm,
            systemback,            
            ventoy,
            xdotool,
            xpad
Description: HamoniKR desktop environment
 하모니카OS의 전체 환경을 구성하는 패키지.

Package: hamonikr-desktop-base
Architecture: all
Conflicts: 
Replaces: 
Depends: cinnamon-desktop-environment,
         albert,
         plank,
         hamonikr-system,
         hamonikr-help,
         hamonikr-keyring,
         hamonikr-zsh,
         hamonikr-themes,
         hamonikr-icons,         
         hamonikrwelcome,
         hamonikr-backgrounds,         
         hamonikr-plymouth-theme-hanla
Recommends: hamonikr-grub-theme,    
            lollypop,
            nimf,
            nimf-libhangul,   
            samba
Description: HamoniKR desktop environment
 하모니카OS의 기본 환경을 구성하는 패키지.