Source: hamonikr-meta
Section: admin
Priority: optional
Maintainer: HamoniKR <pkg@hamonikr.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: hamonikr-desktop-base
Architecture: all
Conflicts: 
Replaces: 
Depends: cinnamon-desktop-environment,
         albert,
         plank,
         hamonikr-system,
         hamonikr-keyring,
         hamonikr-zsh,
         hamonikr-upgrade-info
Recommends: hamonikr-grub-theme,    
            nimf,
            nimf-libhangul,   
            numlockx            
Description: HamoniKR desktop environment
 하모니카OS의 기본 환경을 구성하는 패키지.

Package: ubuntu-hamonikr-respin
Architecture: all
Conflicts: 
Replaces: 
Depends: cinnamon-desktop-environment,
         albert,
         plank,
         hamonikr-keyring,
         hamonikr-zsh,
Recommends: asbru-cm,    
            balena-etcher,
            boot-select,
            celluloid,
            code,
            git,        
            gnome-clocks,
            gprename,
            hamonikr-backgrounds,     
            hamonikr-backup,
            hamonikr-drive,
            hamonikr-grub-theme,    
            hamonikr-help,
            hamonikr-icons,
            hamonikr-stylish-icon,         
            hamonikr-nemo-rabbitvcs,
            hamonikr-onboard-layout-ko,                
            hamonikr-plymouth-theme-hanla | hamonikr-plymouth-theme,
            hamonikr-themes,
            hamonikr-report,
            hamonikr-welcome,            
            hardinfo,
            hypnotix,
            hunspell-ko,
            language-pack-gnome-ko,
            language-pack-ko,
            lollypop,
            libreoffice-hwp2odt,
            mainline,
            naver-whale-stable,
            nemo-compare,
            nemo-emblems,
            nemo-filename-repairer,
            nemo-image-converter,
            nemo-share,     
            neofetch,
            numlockx,           
            samba,
            shutter,            
            stacer,
            ukui-greeter,
            ventoy,
            xpad,          
Description: HamoniKR desktop environment
 하모니카OS의 기본 환경을 구성하는 패키지.

Package: hamonikr-desktop-environment
Architecture: all
Conflicts:
Replaces:
Depends: hamonikr-desktop-base
Recommends: apt-file,
            apt-rdepends,
            asbru-cm,
            alzip,
            ahnlab-v3lite,
            balena-etcher,
            boot-select,
            celluloid,
            gimp,
            gimp-help-ko,
            git,
            glade,
            gnome-clocks,
            gprename,
            hamonikr-backgrounds,
            hamonikr-backup,
            hamonikr-conky,
            hamonikr-drive,
            hamonikr-ff,
            hamonikr-fonts,
            hamonikr-games,
            hamonikr-help,
            hamonikr-icons,
            hamonikr-nemo-rabbitvcs,
            hamonikr-onboard-layout-ko,
            hamonikr-plymouth-theme-hanla|hamonikr-plymouth-theme,
            hamonikr-report,
            hamonikr-stylish-icon,
            hamonikr-themes,
            hamonikr-welcome,
            hardinfo,
            htop,
            hunspell-ko,
            inkscape,
            kazam,
            language-pack-gnome-ko,
            language-pack-ko,
            libreoffice-hwp2odt,
            libreoffice-style-colibre,
            lollypop,
            mainline,
            naver-whale-stable,
            nemo-compare,
            nemo-emblems,
            nemo-filename-repairer,
            nemo-image-converter,
            nemo-share,
            neofetch,
            samba,
            shutter,
            stacer,
            thunderbird,
            thunderbird-locale-ko,
            tigervnc-standalone-server,
            tigervnc-xorg-extension,
            transmission-gtk,
            ubiquity-slideshow-mint,
            ukui-greeter,
            ventoy,
            vim,
            remmina,
            remmina-plugin-rdp,
            remmina-plugin-secret,
            remmina-plugin-vnc,
            remmina-plugin-spice,
            tigervnc-standalone-server,
            tigervnc-xorg-extension,
            xrdp,
            xpad,
            wajig,
Description: HamoniKR desktop environment
 하모니카OS의 데스크톱 환경을 구성하는 패키지.

Package: hamonikr-desktop-minimal
Architecture: all
Conflicts:
Replaces:
Depends: hamonikr-desktop-base
Recommends: celluloid,
            git,
            hamonikr-backgrounds,
            hamonikr-backup,
            hamonikr-drive,
            hamonikr-help,
            hamonikr-icons,
            hamonikr-onboard-layout-ko,
            hamonikr-plymouth-theme-hanla,
            hamonikr-stylish-icon,
            hamonikr-themes,
            hamonikr-report,
            hamonikr-welcome,
            hunspell-ko,
            language-pack-gnome-ko,
            language-pack-ko,
            naver-whale-stable,
            nemo-share,
            samba,
            ubiquity-slideshow-mint
Description: HamoniKR desktop environment
 하모니카OS의 전체 환경을 구성하는 패키지.

Package: hamonikr-desktop-full
Architecture: all
Conflicts:
Replaces:
Depends: hamonikr-desktop-minimal
Recommends: lollypop,            
            neofetch,
            apt-file,
            apt-rdepends,
            asbru-cm,
            balena-etcher,
            boot-select,
            code,
            drawing,
            fsarchiver,            
            filezilla,
            gprename,
            gnome-clocks,
            gimp,
            gimp-help-ko,
            glade,
            hamonikr-backgrounds-taebaek,
            hamonikr-conky,
            hamonikr-ff,
            hamonikr-fonts,
            hamonikr-games,
            hamonikr-nemo-rabbitvcs,
            hamonikr-cli-tools,               
            hardinfo,
            htop,
            hypnotix,
            inkscape,
            kazam,
            kodi,
            libreoffice,
            libreoffice-help-ko,
            libreoffice-l10n-ko,
            libreoffice-style-colibre,
            mainline,
            nemo-compare,
            nemo-emblems,
            nemo-filename-repairer,
            nemo-image-converter,
            neofetch,
            obs-studio,
            poedit,
            remmina,
            remmina-plugin-rdp,
            remmina-plugin-secret,
            remmina-plugin-spice,
            remmina-plugin-vnc,
            seahorse,
            shutter,
            stacer,
            thunderbird,
            thunderbird-locale-ko,
            transmission-gtk,
            tigervnc-standalone-server,
            tigervnc-xorg-extension,
            udpcast,
            ventoy,
            vim,
            virtualbox,
            warpinator,
            xpad,
            xrdp
Description: HamoniKR desktop environment
 하모니카OS의 여러가지 유틸을 포함하는 패키지.

Package: hamonikr-desktop-extra
Architecture: all
Conflicts:
Replaces:
Depends: 
Recommends: binwalk,
            bridge-utils,
            build-essential,
            containerd.io,
            convert-svg,
            debhelper,
            devscripts,
            docker-ce,
            docker-ce-cli,
            docker-compose-plugin,
            dumpet,
            equivs,
            figlet,
            firefox,
            firefox-locale-ko,            
            fsarchiver,
            gddrescue,
            gh,
            gir1.2-spiceclientgtk-3.0,
            git,
            github-desktop,
            google-chrome-stable,            
            hamonikr-checksum,            
            hamonikr-cli-tools,   
            hamonikr-printer-drivers,
            libvirt-clients,
            libvirt-daemon-system,
            live-usb-creator,
            openssh-client,
            ovmf,
            packaging-dev,
            qemu,
            qemu-kvm,
            qemu-system,
            qt-fsarchiver,
            sassc,
            squashfs-tools,
            systemback,
            udpcast,
            vim,
            virt-manager,
            virt-viewer,
            virtualbox,
            virtualbox-ext-pack,
            xclip,
            xorriso,
            kodi,           
            lutris,         
            docker-ce,
            docker-ce-cli,
            containerd.io,
            docker-compose-plugin,                
            obs-studio      
Description: HamoniKR desktop environment
 하모니카OS 환경에서 소프트웨어를 개발하는 개발자를 위한
 여러가지 유용한 프로그램을 제공하는 패키지.

Package: mint-meta-codecs
Architecture: all
Depends: cabextract, gstreamer1.0-libav, gstreamer1.0-plugins-bad, gstreamer1.0-plugins-ugly, gstreamer1.0-vaapi, libdvdcss2, libdvdnav4, libdvdread7 | libdvdread8, unrar, unshield
Description: All the packages required for multimedia support in Linux Mint.
 All the packages required for multimedia support in Linux Mint.

Package: hamonikr-taebaek-repo
Architecture: all
Conflicts: 
Replaces: 
Depends: 
Recommends: 
Description: HamoniKR APT Repository
 하모니카 OS taebak 저장소 환경을 구성하는 패키지.

Package: hamonikr-desktop-base-debian
Architecture: all
Conflicts: 
Replaces: 
Depends: albert,
         plank,
         hamonikr-system,
         hamonikr-keyring,
         hamonikr-zsh,
         hamonikr-upgrade-info
Recommends: hamonikr-grub-theme,    
            nimf,
            nimf-libhangul,   
            numlockx            
Description: HamoniKR desktop environment
 하모니카OS의 기본 환경을 구성하는 패키지.

Package: hamonikr-desktop-minimal-debian
Architecture: all
Conflicts:
Replaces:
Depends: hamonikr-desktop-base-debian
Recommends: celluloid,
            git,
            hamonikr-backgrounds,
            hamonikr-backup,
            hamonikr-drive,
            hamonikr-help,
            hamonikr-icons,
            hamonikr-plymouth-theme-hanla,
            hamonikr-stylish-icon,
            hamonikr-themes,
            hamonikr-welcome,
            hunspell-ko,
            nemo-share,
            samba
Description: HamoniKR desktop environment
 하모니카OS의 전체 환경을 구성하는 패키지.

Package: hamonikr-games
Architecture: all
Depends: 
Recommends: aisleriot,
            gnome-mahjongg,
            gnome-mines,
            gnome-sudoku,
            hanme-taja,
            iagno,
            swell-foop
Description: basic games meta package
 하모니카 리눅스에서 기본 게임들을 모아놓은 메타패키지 

Package: mint-artwork
Architecture: all
Depends: mint-backgrounds-victoria, mint-themes | mint-themes-legacy, mint-x-icons, mint-y-icons, mint-cursor-themes
Conflicts: mint-artwork-debian, mint-artwork-debian-cinnamon, mint-artwork-debian-mate, mint-artwork-common, mint-artwork-cinnamon, mint-artwork-gnome, mint-artwork-mate, mint-artwork-xfce, mint-backgrounds-xfce, ldm-mint-theme
Replaces: mint-artwork-debian, mint-artwork-debian-cinnamon, mint-artwork-debian-mate, mint-artwork-common, mint-artwork-cinnamon, mint-artwork-gnome, mint-artwork-mate, mint-artwork-xfce, mint-backgrounds-xfce, ldm-mint-theme
Provides: mint-mate-default-settings
Description: Linux Mint Artwork and Resources
 Linux Mint Artwork and Resources.

Package: mint-themes
Replaces: mint-clearloox-theme, mint-x-theme, mint-y-theme, mint-z-theme, mint-themes-gtk3, cinnamon-themes
Conflicts: mint-clearloox-theme, mint-x-theme, mint-y-theme, mint-z-theme, mint-themes-gtk3, cinnamon-themes
Depends: ${misc:Depends}, mint-x-icons, mint-y-icons
Architecture: all
Description: Mint themes
 A collection of mint themes.

Package: mint-l-theme
Replaces: 
Conflicts: 
Depends: mint-l-icons
Architecture: all
Description: Mint themes
 A collection of mint themes.

Package: mint-l-icons
Architecture: all
Description: Mint-Y icon theme
 A flat, colorful, and modern theme based on
 Paper and Moka.

Package: mint-x-icons
Architecture: all
Description: Mint-X icon theme
 A flat, colorful, and modern theme based on
 Paper and Moka.

Package: mint-y-icons
Architecture: all
Description: Mint-Y icon theme
 A flat, colorful, and modern theme based on
 Paper and Moka.

